#MMM-Linky {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
  word-wrap: break-word;
}

#MMM-Linky_Chart {
  width: 100% !important;
  height: 320px !important;
}

#MMM-Linky_Energie {
  text-align: left;
  max-width: 100%;
  word-wrap: break-word;
  line-height: 1.2;
  padding: 5px;
}

#MMM-Linky_Energie.red {
  color: red;
}

#MMM-Linky_Energie.yellow {
  color: yellow;
}

#MMM-Linky_Energie.green {
  color: green;
}

#MMM-Linky_Message {
  color: #fff;
  text-align: center;
  max-width: 100%;
  word-wrap: break-word;
  line-height: 1.2;
  padding: 5px;
}

#MMM-Linky_Timer,
#MMM-Linky_Update {
  text-align: right;
  font-size: x-small;
}

#MMM-Linky_Message.hidden {
  display: none;
}

#MMM-Linky_Message.warn {
  color: red;
  animation: clignotte 1000ms infinite;
}

@keyframes clignotte {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
